#find-container {
    position: relative;
    width: 100%;
    /* background-image: linear-gradient(0deg, rgba(26, 26, 26, 0.815), rgba(0, 0, 0, 0.815)), url('../img/ho-logo-sm.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position-y: bottom 200px;
    background-position-x: right 200px; */
}
#logo {
    position: absolute;
    top: 38px;
    left: 0px;
    width: 100%;
    height: auto;
    opacity: 0.2;
}
#title-container {
    width: 100%;
}
#find-us-title {
    margin: 70px 12% 35px 12%;
    color: var(--textcol);
    width: 100%;
    text-align: center;
    font-size: 4rem;
    font-family: dechora;
    letter-spacing: 0.3rem;
    text-shadow: 
        -2px -2px 2px var(--red),
        1px 1px 1px var(--red);
    /* text-decoration: underline overline;
    text-underline-offset: 10px; */
    z-index: 5;
}
#map-container {
    width: 100%;
    height: 280px;
    display: flex;
    justify-content: center;
    z-index: 5;
}
#map {
    height: 270px;
    width: 72%;
    border-radius: 20px;
    border: 2px solid var(--red);
    outline: 2px solid var(--beige);
    box-shadow: 5px 5px 15px rgba(49, 49, 49, 0.678);
    z-index: 5;
}
#map-popup {
    font-family: dechora;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.27rem;
    color: rgb(0, 0, 0);
    font-size: 1.9rem;
    margin-top: 17px;
    z-index: 5;
}
#directions-container {
    width: 100%;
    height: 40px;
    margin-top: 15px;
    z-index: 5;
}
#directions-btn {
    width: 170px;
    height: 28px;
    font-family: dechora;
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
    font-weight: 600;
    border-radius: 10px;
    background-color: var(--beige);
    outline: 2px solid var(--red);
    z-index: 5;
}
#directions-btn:hover, #directions-btn:focus {
    font-weight: 700;
    background-color: var(--red);
    color: black;
    outline: 1px solid var(--beige);
}
#address-container {
    width: 70%;
    position: relative;
    display: flex;
    justify-content: center;
    margin: 20px 15% 120px 15%;
}
#address-left {
    width: 100%;
    height: 100%;
    /* padding: 20px 0px 0px 125px; */
}
#address-right {
    position: absolute;
    top: 72px;
    right: 0;
    text-align: right;
    width: 100%;
    height: 100%;
    /* padding: 20px 125px 0px 0px; */
}
#address-left, #address-right {
    padding: 0px 5px;
    /* font-size: 1.4rem; */
    font-size: clamp(1rem, 0.6vw + 1rem, 1.4rem);
    font-family: poppins;
    font-weight: 400;
    color: var(--textcol);
    line-height: 2;
    letter-spacing: 0.1rem;
    font-style: italic;
}
