#main-content {
    background-image: linear-gradient(180deg, var(--ff-bcgcol), var(--ff-bcgcol2));
}
#find-page {
    position: relative;
    width: 100%;
}
#find-container {
    position: relative;
    width: 70%;
    background-image: linear-gradient(0deg, rgba(26, 26, 26, 0.815), rgba(0, 0, 0, 0.815)), url('../img/ho-logo-sm.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center -8px;
    border-left: 1px dotted var(--ff-beige-shadow);
    border-right: 1px dotted var(--ff-beige-shadow);
}
#title-container {
    width: 100%;
    height: 125px;
}
#find-us-title {
    color: var(--ff-textcol);
    width: 100%;
    text-align: center;
    font-size: 4rem;
    font-family: dechora;
    letter-spacing: 0.3rem;
    text-shadow: -2px -2px 2px var(--ff-red);
}
#map-container {
    width: 100%;
    height: 280px;
    display: flex;
    justify-content: center;
}
#map {
    height: 270px;
    width: 550px;
    border-radius: 20px;
    border: 2px solid var(--ff-red);
    outline: 2px solid var(--ff-beige);
    box-shadow: 5px 5px 15px rgba(49, 49, 49, 0.678);
}
#map-popup {
    font-family: dechora;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.27rem;
    color: rgb(0, 0, 0);
    font-size: 1.9rem;
    margin-top: 17px;
}
#directions-container {
    width: 100%;
    height: 40px;
}
#directions-btn {
    width: 170px;
    height: 28px;
    font-family: dechora;
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
    font-weight: 600;
    border-radius: 10px;
    background-color: var(--ff-beige);
    outline: 2px solid var(--ff-red);
}
#directions-btn:hover, #directions-btn:focus {
    font-weight: 700;
    background-color: var(--ff-red);
    color: black;
    outline: 1px solid var(--ff-beige);
}
#address-container {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
}
#address-left {
    width: 50%;
    height: 100%;
    padding: 20px 0px 0px 125px;
}
#address-right {
    text-align: right;
    width: 50%;
    height: 100%;
    padding: 20px 125px 0px 0px;
}
#address-left, #address-right {
    font-size: 1.4rem;
    font-family: poppins;
    font-weight: 400;
    color: var(--ff-textcol);
    line-height: 2;
    letter-spacing: 0.1rem;
    font-style: italic;
}
.link {
    text-decoration: none;
    color: var(--ff-txt-col);
}
.link:hover {
    cursor: pointer;
    color: var(--ff-red);
    text-decoration: underline;
}
.cocktail-svg {
    width: 150px;
    height: auto;
    opacity: 0.6;
}
#cocktail-L {
    position: fixed;
    top: 240px;
    left: 225px;
    /* filter: invert(1); */
}
#cocktail-R {
    position: fixed;
    top: 240px;
    right: 10px;
}