header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 5.1rem;
    background-color: black;
    border-bottom: 1px solid var(--beige);
    z-index: 10000;
}
.header-grid {
    display: grid;
    height: 100%;
    grid-template-columns: 215px 2fr 1fr 1fr 1fr 7rem;
}
.header-grid button {
    background-color: inherit;
    color: white;
}
#home-btn {
    padding: 0px 25px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: dechora;
    font-weight: 500;
    letter-spacing: 0.2rem;
    font-size: 3rem;
    text-align: left;
    border-left: 3px solid var(--beige);
    border-right: 3px solid var(--beige);
}
#home-btn:hover, #home-btn:focus {
    text-decoration: underline;
    text-decoration-color: var(--beige);
    text-underline-offset: 0.6rem;
    color: var(--red);
    font-weight: 700;
    outline: none;
}
.header-link {
    padding: 0px 7px;
    /* font-size: 3rem; */
    font-size: clamp(2.5rem, 2vw + 1rem, 3rem);
    letter-spacing: 0.25rem;
    font-family: journal;
}
.header-link:hover, .header-link:focus {
    text-decoration: underline;
    text-underline-offset: 0.8rem;
    font-weight: 600;
    color: var(--red);
    outline: none;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}
#dropdown-menu {
    background-image: url(../img/menu-white.svg);
    background-size: 32px 32px;
    background-repeat: no-repeat;
    background-position: center, center;
}
#dropdown-menu:hover, #dropdown-menu:focus {
    background-image: url(../img/menu-red.svg);
    outline: none;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

footer {
    border-top: 1px solid var(--beige);
    position: fixed;
    bottom: 0;
    height: 3rem;
    width: 100%;
    font-family: dechora;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 215px 1fr;
    z-index: 10000;
}
.copyright {
    font-family: poppins;
}
#copyright {
    width: 215px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 3px solid var(--beige);
    border-right: 3px solid var(--beige);
}

@media (601px <= width <= 1000px) {
    .header-grid {
        grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 7rem;
    }
    #home-btn {
        border-left: none;
        border-right: none;
    }
    .header-link {
        padding: 0px 5px;
    }
    #copyright {
        border-left: none;
        border-right: none;
        width: 100%;
    }
}
@media screen and (max-width: 600px) {
    .header-link {
        display: none;
        padding: 0px 5px;
    }
    .header-grid {
        grid-template-columns: 1fr 3fr 7rem;
    }
    #home-btn {
        border-left: none;
        border-right: none;
    }
    #copyright {
        border-left: none;
        border-right: none;
        width: 100%;
    }
    .header-link:hover, .header-link:focus {
        font-size: 2.2rem;
    }
}