#main-content {
    background-image: linear-gradient(180deg, var(--ff-bcgcol), var(--ff-bcgcol2));
}
#menu-page {
    position: relative;
    width: 100%;
}
#menu-container {
    position: relative;
    width: 70%;
    background-image: linear-gradient(0deg, rgba(26, 26, 26, 0.815), rgba(0, 0, 0, 0.815));
    border-left: 1px dotted var(--ff-beige-shadow);
    border-right: 1px dotted var(--ff-beige-shadow);
}
#tabs-div {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    border-bottom: 2px solid var(--ff-beige);
}
.menu-tab-btns {
    width: 150px;
    height: 42px;
    border-radius: 8px 25px 0px 0px;
    font-family: dechora;
    font-size: 2.7rem;
    letter-spacing: 0.1rem;
    font-weight: 400;
    border: 2px solid black;
    background-color: var(--ff-beige);
}
#mains-btn {
    z-index: 5;
}
#snacks-btn {
    z-index: 4;
    margin-left: -12px;
}
#drinks-btn {
    z-index: 3;
    margin-left: -12px;
}
#menu-items-div {
    width: 100%;
    height: 150vh;
}





.cocktail-svg-2 {
    width: 150px;
    height: auto;
    opacity: 0.6;
}
#cocktail-L {
    position: fixed;
    top: 240px;
    left: 225px;
    /* filter: invert(1); */
}
#cocktail-R {
    position: fixed;
    top: 240px;
    right: 10px;
}