@import './css/reset.css';
@import './css/poppins';
@import './css/header.css';
@import './css/find-us.css';

@font-face {
    font-family: journal;
    src: url('./fonts/journal.ttf');
}
@font-face {
    font-family: dechora;
    src: url('./fonts/dechora-zone.ttf');
    font-style: normal;
}
@font-face {
    font-family: capture;
    src: url('./fonts/capture-it.ttf');
    font-style: normal;
}
@font-face {
    font-family: destroy;
    src: url('./fonts/destroy.ttf');
    font-style: normal;
}
@font-face {
    font-family: product;
    src: url('./fonts/know-your-product.ttf');
    font-style: normal;
}
@font-face {
    font-family: topsecret;
    src: url('./fonts/top-secret.ttf');
    font-style: normal;
}
/* * {outline: 1px dotted rgba(0, 128, 64, 0.342);} */

:root {
    --ff-red: #aa3633;
    --ff-beige: #bd9a73;
    --ff-beige-shadow: #bd9a7383;
    --ff-bcgcol: #2c2d2d;
    --ff-bcgcol2: #362e2e;
    --ff-textcol: #fffeff;
}
html {
    font-size: 10px;
    font-family: poppins;
    font-weight: 400;
}

body {
    background-color: var(--ff-bcgcol);
    width: 100%;
}
button:hover {
    cursor: pointer;
}

.main {
    width: 100%;
    height: 100%;
}
.z-index-1000 {
    z-index: 1000;
}

.left-sidebar {
    position: fixed;
    top: 5rem;
    left: 0;
    background-color: var(--ff-red);
    height: calc(100% - 8rem);
    width: 215px;
    border-left: 3px solid var(--ff-beige);
    border-right: 3px solid var(--ff-beige);
    box-shadow: 5px 0px 30px rgba(0, 0, 0, 0.336);
    z-index: 1;
}
#rotate-text {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 31%;
    left: 0;
    margin-left: -132px;
    transform: rotate(270deg);
    color: black;
    font-family: dechora;
    font-size: 14rem;
    letter-spacing: 1rem;
    text-shadow: -3px -3px 5px var(--ff-beige-shadow);
    z-index: 2;
}
#left-spacer {
    width: 255px;
    height: 100%;
    background-color: red;
}
#fb-btn {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 3;
    width: 50px;
    height: auto;
    border-radius: 25px;
    box-shadow: 2px 2px 5px rgba(14, 0, 94, 0.384);
    opacity: 0.9;
    background-color: var(--ff-beige);
    border: 2px solid var(--ff-beige);
    outline: 3px solid black;
}
#fb-btn:hover, #fb-btn:focus {
    /* outline: 4px solid var(--ff-red);
    border: 3px solid var(--ff-beige); */
    border: 4px solid var(--ff-red);
    outline: 3px solid black;
    background-color: var(--ff-red);
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-container-1 {
    width: 100%;
    /* height: calc(100vh - 5rem); */
    display: flex;
}
.main-content {
    background-color: var(--ff-bcgcol);
    margin-top: 5rem;
    /* background-image: linear-gradient(180deg, #2b2b2b, #1b1b1b); */
    /* background-image: linear-gradient(0deg, rgb(8, 0, 20), rgb(15, 0, 37)); */
    /* height: 100%; */
    width: 100%;
    display: flex;
    justify-content: center;
}


#hDD {
    width: 150px;
    height: 500px;
    background-color: white;
    border: 2px solid black;
    display: block;
    position: fixed;
    top: 5rem;
    right: 0;
}





